<h1>Department Directory</h1>
<hr />
<%= link_to "Create New Department", new_department_path%>

<ul>
<% @departments.each do |department| %>
<li><%= link_to department.name, department_path(department.id) %></li>
<% end %>
</ul>
