<h1>Viewing <%= @department.name %> </h2>
<hr>

<ul>
# view items here
<br>
<li><%= link_to "Edit Department Name", edit_department_path(@department.id) %></li>
<li><%= link_to "Delete Department", department_path(@department.id), method: :destroy %></li>
<br>
<li><%= link_to "Back To Department Index", departments_path %></li>
</ul>
