<h1><%=@department.name%> Items</h1>
<hr>

<%= link_to "Add New Item", new_department_item_path(@department.id)%>

<ul>
<% @items.each do |item| %>
<li><%= link_to item.name, department_item_path(@department.id, item.id)%></li>
<%end%>
</ul>

<%= link_to "Back To Department Menu", department_path(@department.id)%>